---
import Base from '../../layouts/Base.astro';
---
<Base title="Laboratoire d'ultrasons Provost" lang="fr">
  <h1>Laboratoire d'ultrasons Provost</h1>
  <p>
    Nous sommes un groupe de recherche à Polytechnique Montréal qui développe
    l'imagerie ultrasonore de prochaine génération.
  </p>
  <p><em>Contenu à transférer depuis le site actuel.</em></p>
</Base>
